
* {
	font-family: "LucidaGrande", sans-serif;
}
html {
 height: 100%;
 min-height:100vh !important;
 background-color:#232323;
 background-size:cover;
}

body {
  overflow-y: scroll;
  color:#eee;
  background-color:#232323;
  margin: 0;
  padding: 0;
  height:100%; 
  min-height:100vh !important;
  background-size:cover;
  cursor: default;
}
#function_switch {
  margin-top: 0px;
  margin-left: -10px;
}
#function_switch>.uk-active>a {
  color:#eee !important;
  border-bottom:5px solid #7CCEF4;
}
.tdactor_label {
  background-color: rgba(124, 206, 244, 0.1) !important;
  color: #aaa !important;
  margin-top:10px;
  margin-bottom:10px;
  white-space: normal !important;
}
.mogrt_source_summary{
  background-color: rgba(124, 206, 244, 0.1);
  color: #aaa;
  margin-top:10px;
  cursor: default;
  user-select: none;
  border-radius: 2px;
  font-size: 0.875rem;
}
#actor_functions {
  background-color:#232323;
}
#select_mogrt {
  margin-top:10px;
}
.tdinput{
  border: 1px solid #555 ;
  padding-left: 4px;
  background-color: #333 ;
}
.tdinput:focus{
  color: rgba(255,255,255,.7) !important;
}
#subtitles {
  margin-top:8px;
  margin-left:10px;
  resize: none;
  background-color: #333;
  color:#eee;
}
#subtitles::-webkit-scrollbar-track{
  background: #333;
}
#subtitles::-webkit-scrollbar-thumb {
  background: rgba(190,190,190,0.2);
  border-radius: 10px;
  box-sizing: border-box;
  border: solid 3px #333;
}
#subtitles::-webkit-scrollbar-corner{
  background-color: #333;
}

.propertyDeploy {
  cursor: default;
  font-size: 0.75em;
  background-color: #232323;
  user-select: none;
  margin-top:10px;
}
.propertyDeploy>div {
  padding-left: 20px;
  margin-left: 20px;
}
.deploy_property_select>.uk-icon {
  color:#232323;
}
.deploy_property_select>.uk-icon.enable {
  color:#6e6;
}
.propertyDeploy>div:hover {
  background-color: rgba(241, 157, 193, 0.1);
}
hr {
  border-top:1px solid #333 !important;
}

.group_label{
  background-color:rgba(124, 206, 244, 0.1);
}
.actor_sequence_link {
  display: inline-block;
  text-align: center;
  height: 50px;
}
.actor_linknav{
  margin-left: 10px !important;
}

.actor_sequence_link_icon{
  padding-left: 10px !important;
  padding-right: 10px !important;
}
.actor_sequence_link_icon svg{
  transform: translateY(15%);
  margin-bottom: 0px;
}
.actor_sequence_link_icon[uk-icon='ban'] svg{
  width:17px;
  height:17px;
  margin-left:2px;
  margin-right:1px;
}

.actor_sequence_link{
  border-radius: 3px;
}
.actor_sequence_link.linked {
  color:#7CCEF4;
}
.actor_sequence_link.enable{
  background-color: rgba(241, 157, 193, 0.1);
}
.actor_sequence_link_label{
  padding-left: 10px;
  padding-right: 10px;
}
.actor_parts_list {
  padding-left:10px;
}
.actor_group{
  padding-left:10px;
}
.td-thumbnav{
  user-select: none;
  overflow-x:scroll;
  overflow-y:hidden;
}
.td-thumbnav.disable{
  opacity: 0.2;
  pointer-events: none;
  height:2px !important;
}
.events_disable {
  pointer-events: none;
  opacity: 0.2;
}
.td-thumbnav ul {
  margin-bottom: 0;
  white-space:nowrap;
  min-height: 50px;
}
.td-thumbnav li {
  border-radius: 3px;
  cursor: default;
  display: inline-block;
  border: solid 1px transparent;
  position: relative;
  opacity: 1.0;
  transition: border 0.5s ease-out, opacity 0.1s ease-out;
}
.actor_thumb_parent[data-type="none"]::before {
  display: none;
}
.actor_thumb_parent::before {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  content: attr(data-type);
  min-width: 8px;
  height: 8px;
  box-sizing: border-box;
  padding: 4px 0px 4px 0px;
  font-size: 6px;
  font-weight: bold;
  background-color: #51B858;
  color:#000;
  border: 1px solid transparent;
  border-radius: 2px;
  top: 0;
  right: 0;
  transform: translate(0%, -10%);
  z-index: 1;
}
.td-thumbnav li:hover {
  border: solid 1px #7CCEF4;
  transition: border 0.1s ease-out;
}
.td-thumbnav li:active{
  opacity: 0.8;
  transition: border 0.5s ease-out, opacity 0.1s ease-out;
}
.td-thumbnav>*>::after{
  background: inherit !important;
}
.actor_clipset {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  /* margin: 0 1px 0 1px !important; */
  margin: 0 0 0 0px !important;
  border: solid 1px #7CCEF400 !important;
  border-radius: 5px;
  min-width: 20px;
  transition: border 0.5s ease-out;
}
.actor_clipset:hover {
  border: solid 1px #7CCEF4 !important;
  transition: border 0.1s ease-out;
}
.actor_clipset_root{
  min-height: 20px !important;
}

.actor_component{
  cursor: default;
  user-select: none;
}
.actor_tooltip{
  width:auto;
  max-height:50vh;
}
.insert_setting_icon {
  flex-shrink: 0;
  margin-left: 3px !important;
  margin-right: 3px !important;
}
.insert_disable[uk-icon='lock'] {
  color:#7CCEF4;
}
.insert_marker{
  width:22px;
  height:auto;
  position: relative;
}
.marker_icon{
  stroke-width:12;
  stroke-miterlimit:10;
}
.insert_marker.enable polygon{
  stroke:#7CCEF4;
  fill:#7CCEF4;
}
.insert_marker.disable polygon{
  stroke:#666666;
  fill:#666666;
}

.insert_inpoint{
  width:22px;
  height:auto;
  position: relative;
  stroke-miterlimit:10;
  stroke-width:3;
}
.insert_inpoint2{
  stroke-miterlimit:10;
  stroke-width:5;
  stroke-linecap:square;
}
.insert_inpoint.enable .insert_inpoint1{
  stroke:#7CCEF4;
  fill:#7CCEF4;
}
.insert_inpoint.disable .insert_inpoint1{
  stroke:#666666;
  fill:#666666;
}

.insert_inpoint.enable .insert_inpoint2{
  stroke:#7CCEF4;
  fill:none;
}
.insert_inpoint.disable .insert_inpoint2{
  stroke:#666666;
  fill:none;
}
.insert_outpoint{
  width:22px;
  height:auto;
  position: relative;
  stroke-miterlimit:10;
  stroke-width:3;
}
.insert_outpoint.enable .insert_outpoint1{
  stroke:#7CCEF4;
  fill:#7CCEF4;
}
.insert_outpoint.disable .insert_outpoint1{
  stroke:#666666;
  fill:#666666;
}
.insert_outpoint3 {
  stroke-width:5;
}
.insert_outpoint.enable .insert_outpoint3{
  stroke:#232323;
  fill:#232323;
}
.insert_outpoint.disable .insert_outpoint3{
  stroke:#232323;
  fill:#232323;
  stroke-width:5;
}
.insert_outpoint.enable .insert_outpoint4{
  stroke:#7CCEF4;
  fill:#232323;
}
.insert_outpoint.disable .insert_outpoint4{
  stroke:#666666;
  fill:#232323;
}
summary{
  padding-left: 5px;
}
.uk-input{
  background-color: #333 !important;
}
.actor_parts_top{
  background-color:#232323;
  border: solid 1px #333;
  border-left-color: transparent;
  border-right-color: transparent;
  border-top-color: transparent;
}
.actor_parts_top img{
  box-sizing: border-box;
  object-fit: contain;
}
.fix_size_img {
  height: 48px;
  width:auto;
  min-width: 32px;
  max-width: initial;
}
.thumb_background{
  background-color: #666;
  background-image: 
  linear-gradient(45deg, #777 25%, transparent 25%),
  linear-gradient(45deg, #777 25%, transparent 25%),
  linear-gradient(45deg, transparent 75%, #777 75%),
  linear-gradient(45deg, transparent 75%, #777 75%);
  background-position: 0 0, 8px 8px;
  background-size: 16px 16px;
}
.actor_parts_top.dragitem:hover {
  animation: flashing 0.5s ease-in-out 1 normal;
}
@keyframes flashing{
  0% { border: solid 1px transparent }
 50% { border: solid 1px #7CCEF488 }
100% { border: solid 1px transparent }
}


.select_actor_group {
  color:#AAA;
  padding-left: 5px !important;
}
.select_actor_group[contenteditable="true"] {
  color:#FFF;
  cursor: text;
  background-color: #333;
}
.actor_group_tracktxt {
  color:#555;
  margin-left:5px !important;
  margin-right:0px;
  padding-left:0px !important;
  padding-right:0px !important;
  font-size: 0.8rem;
  font-weight: bold;
}
#actor_parts_box {
  border: dashed 1px #7CCEF4;
  border-radius: 5px;
}
#actor_parts_box li {
  border: solid 1px transparent;
  display: inline-block;
  transition: border 0.5s ease-out;
}
#actor_parts_box li:hover {
  border: solid 1px #7CCEF4;
  transition: border 0.1s ease-out;
}
.remove-top-margine{
  margin-top: 0 !important;
}
::-webkit-scrollbar {
  width: 15px;
  height: 15px;
}
::-webkit-scrollbar-track {
  background: #232323;
}
::-webkit-scrollbar-corner{
  background-color: #232323;
}
::-webkit-scrollbar-thumb {
  background: rgba(190,190,190,0.2);
  border-radius: 10px;
  box-sizing: border-box;
  border: solid 3px #232323;
}
::-webkit-scrollbar-thumb:hover {
  background: #888;
}
.tdactor_selectbox {
  color: #eee !important;
  background-color: #333 !important;
  border-color:#555 !important;
  margin-bottom:10px;
}
.uk-select:not([multiple]):not([size]) option {
  color: #eee !important;
}
#actor_controle_div {
  margin-right: 15px;
  background-color: #232323;
}
#mainfunc.disable {
  pointer-events: none;
  opacity: 0.3;
}
.uk-modal-body{
  background-color:#232323;
}
@media (min-width: 320px) {
  .uk-child-width-expand\@ss > :not([class*='uk-width']) {
    flex: 1;
    min-width: 1px;
  }
}

.uk-button-secondary
{
  /* margin-left: 30px;
  width:200px; */
  padding-left: 15px;
  padding-right: 15px;
  background-color: #333 !important; 
}
.uk-button-secondary:hover
{
  color:#232323 !important;
  background-color: #7CCEF4 !important; 
}
.uk-button-secondary:active
{
  background-color: #6CBEE4 !important; 
}
.uk-button-secondary.highlight {
  background-color: #7ccef460 !important; 
}
.uk-button-secondary.highlight:hover {
  color:#232323 !important;
  background-color: #7CCEF4 !important; 
}
.insert_mode{
  overflow: hidden;
  display: flex;
  align-items: center;
  width:90px;
  transition: width 0.1s ease-out;
}
.insert_mode.expanded{
  width:170px;
  transition: width 0.1s ease-out;
}

.actor_gruop_expand_button{
  flex-shrink: 0;
  display: inline-grid;
  width:20px;
  height:90%;
  color:#eee;
  background-color:#232323;
  align-items: center;
  text-align: center;
  border: solid 1px transparent;
  transition: border 0.5s ease-out;
}
.actor_gruop_expand_button:hover
{
  border: solid 1px #7CCEF4;
  transition: border 0.1s ease-out;
}
.actor_gruop_expand_button:active
{
  background-color: #7CCEF488;
  transition: background-color 0.1s ease-out;
}
.actor_gruop_expand_text{
  transform: rotate( 0deg );
  transition: transform 0.2s ease-out;
}
.actor_gruop_expand_text.expanded{
  transform: rotate( -180deg );
  transition: transform 0.2s ease-out;
}
.input_source_track{
  width:24px;
  height:16px;
  min-width:24px;
  font-weight: bold;
  padding-left: 0;
  padding-right: 4px;
  color:#eee;
  background-color:#333;
  border: 1px solid #555;
  transition: background-color 0.2s ease-out, border 0.2s ease-out, color 0.2s ease-out, padding-left 0.2s ease-out, padding-right 0.2s ease-out;
}
.input_source_track:hover{
  color:#eee;
  padding-left: 4px;
  padding-right: 0;
  background-color:#333;
  border: 1px solid #555;
  transition: background-color 0.2s ease-out, border 0.2s ease-out, color 0.2s ease-out, padding-left 0.2s ease-out, padding-right 0.2s ease-out;
}
.input_source_track:focus{
  padding-left: 4px;
  padding-right: 0;
}
.input_source_track.filled{
  color:#555;
  background-color:#232323;
  border: 0px solid transparent;
}
.input_source_track.filled:hover{
  background-color:#333;
  color:rgba(255, 255, 255, 0.7);
  outline-offset:-2px;
  outline-style:auto;
  outline-width:5px;
  outline-color:rgb(77, 144, 254);
}

.icon_s {
  min-width: 32px !important;
  max-width: 32px !important;
}

.grid_icon {
  padding-left: 15px !important;
  padding-right: 15px !important;
}

.add_watch_dir {
  border: 1px solid #555 !important;
  padding: 5px !important;
}

.uppercase_disable {
  text-transform: none !important;
}

.text_ellipsis {
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  white-space: nowrap !important;
}

.tdact_setting_ok {
  background-color : #598059 !important;
}

.tdact_setting_error {
  background-color : #835252 !important;
}

input.td_check[type="checkbox"]{
  border-color: #555;
  background-color: rgba(0,0,0,0);
}
input.td_check[type="checkbox"]:checked{
  border-color:  rgba(124, 206, 244, 0.2);
  background-color: rgba(124, 206, 244, 0.2);
}

.merker_color_selector {
  user-select: none;
  width: 24px;
  height: 24px;
  margin-left:5px;
  margin-right:5px;
  border-radius: 25%;
  border: 1px solid rgba(124, 206, 244, 0);
  opacity: 0.2;
  transition: opacity 0.3s ease-out;

}
.merker_color_selector:hover {
  opacity: 1.0;
  transition: opacity 0.2s ease-out;
}

.merker_color_selected {
  opacity: 1.0 !important;
}

.selected {
  background-color: #7CCEF4;
}
.anim_unselect {
  opacity: 0.3;
  cursor: pointer !important;
}
.sortable-drag {
  opacity: 1.0;
}
.sortable-ghost {
  opacity: 0.1;
}
.container {
  padding-top: 20px !important;
  padding-bottom: 10px;
  user-select: none;
  cursor: default;
  top: 0px;
  bottom: 0px;
}
.dragitem {
    user-select: none;
    cursor: move !important;
}
#actor_switcher{
  width:98vw;
}
#actor_switcher.setting{
  width:80vw;
}
.contextmenu{
  display:none;
  position:fixed;
  left:0px;
  top:0px;
  height:auto;
  background-color:#333333;
  border:1px solid #7CCEF4;
  user-select: none;
  z-index: 10;
}
.contextmenu ul{
  padding-left: 0px;
  margin-bottom: 0px;
}
.contextmenu.contextmenu_show {
  display: block;
}
.contextmenu li{
  list-style: none;
  margin: 0px;
  padding: 5px;
  cursor:pointer;
  border: solid 1px transparent;
  transition: background-color 0.1s ease-out, color 0.1s ease-out;
}
.contextmenu li:hover{
  color: #232323;
  background-color:#7CCEF4;
  transition: background-color 0.1s ease-out, color 0.1s ease-out;
}
.contextmenu li:active
{
  transition: background-color 0.1s ease-out;
  background-color: #6CBEE4; 
}
.actor_thumb {
  height:48px;
}
.trash_icon{
  align-items: center;
  min-width: 50px !important;
}
.trash_icon>span{
  margin-top:3px;
}

.td-icon-button {
  user-select: none;
  cursor: pointer;
  box-sizing: border-box;
  width: 36px;
  height: 36px;
  border:2px solid #fff2;
  background: #fff2;
  border-radius: 500px;
  color: #aaa;
  vertical-align: middle;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  transition: .3s ease-in-out;
  transition-property: color,border,background-color;
}
.td-icon-button:hover {
  background: #7CCEF488;
  border:2px solid #7CCEF4aa;
  color: #fff;
  transition: .2s ease-in-out;
  transition-property: color,border,background-color;
}
.td-icon-button:active {
  background: #7CCEF466;
  border:2px solid #7CCEF488;
  color: #eee;
}
.td-icon-button.enable {
  border:2px solid #7CCEF4;
  color: #7CCEF4;
  transition: .3s ease-in-out;
  transition-property: color,border,background-color;
}
.td-icon-button.enable:hover {
  background: #7CCEF4;
  border:2px solid #7CCEF488;
  color: #232323;
  transition: .2s ease-in-out;
  transition-property: color,border,background-color;
}
.td-icon-button.enable:active {
  background: #7CCEF488;
  border:2px solid #7CCEF488;
  color: #232323;
}

@media screen and (max-width: 480px){
  .hide_u480 {display:none !important}
}

.dragdrop-area-bg {
  background-color: #1e1e1e;
}
.td_progress[value] {
  border: 1px solid #333;
  border-radius: 10px;
  background-color: #333;
  height: 7px;
}
.td_progress[value]::-webkit-progress-bar {
  background-color: #333;
}
.td_progress[value]::-webkit-progress-value {
  background-color: #7CCEF4;
}